<form ng-submit="submit()">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<br><br><br>
			<h2>Contact Us</h2>
			<h4>We would love to hear from you. You can post any questions or suggestion using below form</h4>
			<div class="form-group">
				<span class="label label-default">Name</span><br>
				<input type="text" class="form-control" ng-model="name" required ng-trim="true" placeholder="Enter your name..."/>
			</div>
			<div class="form-group">
				<span class="label label-default">Email</span><br>
				<input type="email" class="form-control" ng-model="email" required ng-trim="true" placeholder="Enter your email..."/>
			</div>	
			<div class="form-group">
				<span class="label label-default">Message</span><br>
				<textarea id="message" ng-model="message" required cols="60" rows="5" class="form-control" placeholder="Post your questions/suggestions here..."></textarea>
			</div>		

			</div>
		</div>
	</div>
	<div class="container">
	<div class="text-left">
		<input class="btn btn-primary" type="submit" value="Submit">
	</div>
	</div>
	<div class="container">
	<div class="text-left">
		<h4><div class="label label-success" ng-bind="confirmation"> {{ confirmation ]} </div></h4>
	</div>
	</div>
</form>

